@import "~antd/dist/antd.css";

.logo {
  color: white;
  font-size: x-large;
  text-align: center;
}

.footer {
  text-align: center;
}

.player-1 {
  color: #506b50;
}

.player-2 {
  color: #43436d;
  text-align: end;
}

.player-name {
  padding-left: 5%;
  padding-right: 5%;
  font-size: large;
  font-weight: 500;
}

.board {
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
}

.player-status {
  margin-bottom: 5%;
}

.button-player {
  background-color: ghostwhite !important;
}

.button-player-1 {
  background-color: #506b50 !important;
}

.button-player-2 {
  background-color: #43436d !important;
}

.winning-btn {
  border: 2px solid yellow !important;
}

.player-active {
  text-decoration: underline;
}

.player-inactive {
  color: grey;
}
